{% block body %}
<div style="display:flex; flex-direction: row;justify-items: center">
    <P style="color: blue;display:flex; flex-direction: row;justify-items: center">Agenda de Contacto</P>
</div>
{% endblock %}