<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Agenda de Contactos</title>
</head>
<body>
    {% block body %} {% endblock %}
   <h1>Agenda de Contactos</h1>
    
    
</body>
</html>